<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}}</title>
</head>
<body>
  <h1>
    Halo {{.Name}}!
  </h1>
  <h2>Alamat</h2>
  <p>
    {{.Address.Street}},
    {{.Address.City}},
    {{.Address.State}},
    {{.Address.ZipCode}}
  </p>
  {{if .IsActive}}
    <p>Status: Aktif</p>
  {{else}}
    <p>Status: Tidak Aktif</p>
  {{end}}

  <h2>Status Lulus: {{if ge .FinalGrade 3.0}} Lulus{{else}}Tidak Lulus{{end}}</h2>

</body>
</html>